**EXPERIMENT 1**


Python libraries:


1.   Scipy
2.   Numpy

**SciPy**


SciPy is an open-source library in Python that is used for scientific and technical computing. It builds on NumPy, another popular Python library for numerical computing, and provides additional functionality for tasks such as optimization, signal and image processing, linear algebra, statistical analysis, and more.

*Here are some key features of SciPy*:

**Optimization**: The scipy.optimize module provides algorithms for solving optimization problems, including unconstrained and constrained minimization.

**Integration and Differentiation**: SciPy offers tools for numerical integration (scipy.integrate) and differentiation (scipy.diff).

**Signal and Image Processing**: The scipy.signal module contains functions for signal processing, including filtering, convolution, and spectral analysis. The scipy.ndimage module provides tools for image processing.

In [4]:
import scipy
from scipy import stats
import numpy as np
import statistics

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


mean_value_stats = statistics.mean(data)
print(f"Mean (statistics): {mean_value_stats}")


print(f"Median: {median_value}")
print(f"Standard Deviation: {std_deviation}")

Mean (statistics): 5.5
Median: 5.5
Standard Deviation: 2.8722813232690143

**Numpy**

NumPy is a Python library used for working with arrays.It is a fundamental library for numerical computing in python.

 **Applications:**

*Data Analysis and Manipulation:*
NumPy arrays are the foundation for many other data analysis libraries, such as Pandas and scikit-learn.
NumPy enables efficient and vectorized operations on large datasets, improving performance over traditional Python lists.

*Machine Learning:*
Many machine learning frameworks, including TensorFlow and PyTorch, rely on NumPy for array manipulation.
NumPy arrays are used to represent input data, parameters, and outputs in machine learning models.

In [5]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3)

print(newarr)

[array([1, 2]), array([3, 4]), array([5, 6])]

**R libraries:**


1.   dplyr
2.   tidyr

**dplyr**

The package "dplyr" comprises many functions that perform mostly used data manipulation operations such as applying filter, selecting specific columns, sorting data, adding or deleting columns and aggregating data. Another most important advantage of this package is that it's very easy to learn and use dplyr functions. Also easy to recall these functions.

 *For example, filter() is used to filter rows.*

In [1]:
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [2]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [6]:
mydata = read.csv("https://raw.githubusercontent.com/deepanshu88/data/master/sampledata.csv")

In [7]:
sample_n(mydata,3)

  Index State   Y2002   Y2003   Y2004   Y2005   Y2006   Y2007   Y2008   Y2009
1 O     Ohio    1802132 1648498 1441386 1670280 1534888 1314824 1516621 1511460
2 A     Alabama 1296530 1317711 1118631 1492583 1107408 1440134 1945229 1944173
3 N     Nevada  1426117 1114500 1119707 1758830 1694526 1765826 1903270 1231480
  Y2010   Y2011   Y2012   Y2013   Y2014   Y2015
1 1585465 1887714 1227303 1840898 1880804 1573117
2 1237582 1440756 1186741 1852841 1558906 1916661
3 1526066 1143343 1980195 1283813 1225348 1903804

**tidyr**


The goal of tidyr is to help you create tidy data.

 Tidy data is data where:

Every column is a variable.

Every row is an observation.

Every cell is a single value.:

In [8]:

install.packages("tidyverse")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [9]:
library(tidyr)

In [11]:
data <- data.frame
(
  ID = c(1, 2, 3),
  Jan = c(10, 15, 20),
  Feb = c(12, 18, 22),
  Mar = c(14, 20, 25)
)


print("Original data:")
print(data)

# Reshape data using gather(vertical)
gathered_data <- gather(data, key = "Month", value = "Value", -ID)
print("\nReshaped data using gather:")
print(gathered_data)

# Reshape data using spread(horizontal)
spread_data <- spread(gathered_data, key = "Month", value = "Value")
print("\nReshaped data using spread:")
print(spread_data)

[1] "Original data:"
  ID Jan Feb Mar
1  1  10  12  14
2  2  15  18  20
3  3  20  22  25
[1] "\nReshaped data using gather:"
  ID Month Value
1  1   Jan    10
2  2   Jan    15
3  3   Jan    20
4  1   Feb    12
5  2   Feb    18
6  3   Feb    22
7  1   Mar    14
8  2   Mar    20
9  3   Mar    25
[1] "\nReshaped data using spread:"
  ID Feb Jan Mar
1  1  12  10  14
2  2  18  15  20
3  3  22  20  25